<!DOCTYPE html>
<html>
<head>
    <title>FPSTris</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <canvas id="otherGames"></canvas>

    <div id="mainGame">
        <canvas id="gameCanvas" width="300" height="600"></canvas>
    </div>

    <!-- Socket.IO client -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/shared/tetrisHelpers.js" defer></script>
    <script src="/js/shared/fieldSync.js" defer></script>
    <script src="/js/game.js" defer></script>
    <script src="/js/otherFields.js" defer></script>
</body>
</html>