<!DOCTYPE html>
<html>
<head>
    <title>FPSTris Lobby</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1 id="lobbyMessage" class="lobby-message">Welkom in de FPSTris Lobby</h1>
    
    <ul id="playerList" class="player-list">
        <!-- Players will be added here dynamically using JavaScript -->
    </ul>
    
    <div class="lobby-footer">
        <a id="leaveButton" class="leave-button" href="/">Leave lobby</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/Lobby.js"></script>
</body>
</html>