<!DOCTYPE html>
<html>
<head>
    <title>FPSTris Register</title>
</head>
<body>
    <main>
        <h1>Register</h1>

        <p id="registerStatus">Create a new account to get started.</p>

        <form id="registerForm">
            <div>
                <label for="username">Username</label>
                <input
                    id="username"
                    name="username"
                    type="text"
                    autocomplete="username"
                    autocapitalize="none"
                    spellcheck="false"
                    maxlength="64"
                    required
                >
            </div>

            <div>
                <label for="email">Email</label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    maxlength="256"
                    required
                >
            </div>

            <div>
                <label for="password">Password</label>
                <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="new-password"
                    maxlength="256"
                    required
                >
            </div>

            <button id="registerButton" type="submit">Register</button>
        </form>

        <p>
            Already have an account? <a href="/login">Login here</a>
        </p>

        <p>
            <a href="/">Back to home</a>
        </p>
    </main>

    <script src="/js/register.js"></script>
</body>
</html>
